 /* fonts */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F1FF;
}
main{
    justify-content: center;
}
 .container{
    display: flex;  
     background-color: #FFFFFF;
    width:1170PX;
    padding:30px;
    margin-right: 10%;
}
.influencer{
    display: flex;
}
camera-img{
    width:60% ;
    padding: 10%;
}
.section-tittle{
    text-align: center;
}
product-info{
text-align: justify;
font-size: 60px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(yellow,tomato) ;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight:700px;
}
hr{
    border: 1px solid rgb(165, 163, 163);
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
        grid-column-gap:25px;
        grid-row-gap:25px;
    }
.product{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px;
    border: 1px solid white;
    border-radius: 5px;
}
product .thumbnail img{
    width: 177px;
    height: 117px;
}
product-info{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.product-tittle{
    color: rgb(240, 154, 6);
}
.fa-star.filled{
    color: yellow;
}
.fa-star.empty{
    color:#aeaeae;
}
